.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__obI0 {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__obI0 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__obI0 > :global(.__wab_flex-container) > *,
.freeBox__obI0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__obI0 > :global(.__wab_flex-container) > picture > img,
.freeBox__obI0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obI0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obI0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obI0 > :global(.__wab_flex-container) > *,
  .freeBox__obI0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__obI0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__obI0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__jI8Pw {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__jI8Pw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jI8Pw > :global(.__wab_flex-container) > *,
.freeBox__jI8Pw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jI8Pw > :global(.__wab_flex-container) > picture > img,
.freeBox__jI8Pw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ixc8Y {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ixc8Y > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ixc8Y > :global(.__wab_flex-container) > *,
.freeBox__ixc8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ixc8Y > :global(.__wab_flex-container) > picture > img,
.freeBox__ixc8Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wtoqD {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wtoqD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wtoqD > :global(.__wab_flex-container) > *,
.freeBox__wtoqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtoqD > :global(.__wab_flex-container) > picture > img,
.freeBox__wtoqD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg___6ZkYh {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-mrfwLcQmGDvpoZ);
  flex-shrink: 0;
}
.svg__qSgjN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-mrfwLcQmGDvpoZ);
  flex-shrink: 0;
}
.svg__xsNSj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-mrfwLcQmGDvpoZ);
  flex-shrink: 0;
}
.freeBox__bp5Wp {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__bp5Wp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bp5Wp > :global(.__wab_flex-container) > *,
.freeBox__bp5Wp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bp5Wp > :global(.__wab_flex-container) > picture > img,
.freeBox__bp5Wp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gxs9J {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-mrfwLcQmGDvpoZ);
  height: auto;
}
.button___1BI3W:global(.__wab_instance) {
  position: relative;
}
.svg___9Hj6D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__d7QQ {
  height: auto;
}
.svg__rwfYp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4C23T:global(.__wab_instance) {
  position: relative;
}
.svg__h10R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9EvqM {
  height: auto;
}
.svg__gy6I5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ezGvn:global(.__wab_instance) {
  position: relative;
}
.svg__mphLu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xxnZr {
  height: auto;
}
.svg__fisxy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aIws:global(.__wab_instance) {
  position: relative;
}
.svg__pk3Mp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ojM6 {
  height: auto;
}
.svg__ojG0Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__jgPk8 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__jgPk8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jgPk8 > :global(.__wab_flex-container) > *,
.freeBox__jgPk8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jgPk8 > :global(.__wab_flex-container) > picture > img,
.freeBox__jgPk8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__j5Ib0 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-mrfwLcQmGDvpoZ);
  height: auto;
}
.button___3DiR:global(.__wab_instance) {
  position: relative;
}
.svg__w4Eub {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2AYjc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aGr7I:global(.__wab_instance) {
  position: relative;
}
.svg__hAmw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pCcwe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hgdxm:global(.__wab_instance) {
  position: relative;
}
.svg__nGhLv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__alDxc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__pzMtr {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pzMtr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pzMtr > :global(.__wab_flex-container) > *,
.freeBox__pzMtr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzMtr > :global(.__wab_flex-container) > picture > img,
.freeBox__pzMtr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2XBah {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-mrfwLcQmGDvpoZ);
  height: auto;
}
.button__laoZc:global(.__wab_instance) {
  position: relative;
}
.svg__dg2Ji {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__juHiw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fhQaA:global(.__wab_instance) {
  position: relative;
}
.svg__cFvPh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8Ggd9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zMpfU:global(.__wab_instance) {
  position: relative;
}
.svg___7SUaf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rcApo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ve3Qo:global(.__wab_instance) {
  position: relative;
}
.svg__vLgh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dW1WU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
