.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__qixT4 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__qixT4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qixT4 > :global(.__wab_flex-container) > *,
.freeBox__qixT4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qixT4 > :global(.__wab_flex-container) > picture > img,
.freeBox__qixT4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qixT4 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gi2Dl {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__tDiOd {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__y9GIl:global(.__wab_instance) {
  position: relative;
}
.img__c9So8 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__c9So8 > picture > img {
  object-fit: cover;
}
.img__c9So8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__xBh4F:global(.__wab_instance) {
  position: relative;
}
.img__izy7O {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__izy7O > picture > img {
  object-fit: cover;
}
.img__izy7O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__gkoxp:global(.__wab_instance) {
  position: relative;
}
.img__wkZSc {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__wkZSc > picture > img {
  object-fit: cover;
}
.img__wkZSc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__ckn4W:global(.__wab_instance) {
  position: relative;
}
.img__dg1Zx {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__dg1Zx > picture > img {
  object-fit: cover;
}
.img__dg1Zx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-1wg6Y6q1PmrG1l);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___7T9Kg {
  display: flex;
  flex-direction: column;
}
.freeBox___7T9Kg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7T9Kg > :global(.__wab_flex-container) > *,
.freeBox___7T9Kg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7T9Kg > :global(.__wab_flex-container) > picture > img,
.freeBox___7T9Kg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tZcW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__lKs9K {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox___681Ol {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___681Ol > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___681Ol > :global(.__wab_flex-container) > *,
.freeBox___681Ol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___681Ol > :global(.__wab_flex-container) > picture > img,
.freeBox___681Ol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__beGOj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ptIuD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aqOEo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p9pv1pIYUPQNFE);
  width: 28px;
  height: 28px;
}
.text___6R9Rs {
  padding-left: 0px;
}
.column__txiZ8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__bMmq9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zAs6H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p9pv1pIYUPQNFE);
  width: 28px;
  height: 28px;
}
.text__btBnI {
  padding-left: 0px;
}
.column__sy5Jf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hat8V:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lLh9T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p9pv1pIYUPQNFE);
  width: 28px;
  height: 28px;
}
.text__uLqHi {
  padding-left: 0px;
}
.column__wsHyg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__m5NiX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oZyoc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p9pv1pIYUPQNFE);
  width: 28px;
  height: 28px;
}
.text__oIkJf {
  padding-left: 0px;
}
.freeBox__yt9Mj {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__yt9Mj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yt9Mj > :global(.__wab_flex-container) > *,
.freeBox__yt9Mj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yt9Mj > :global(.__wab_flex-container) > picture > img,
.freeBox__yt9Mj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yt9Mj {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__hClFa {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__hClFa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__hClFa > :global(.__wab_flex-container) > *,
.freeBox__hClFa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hClFa > :global(.__wab_flex-container) > picture > img,
.freeBox__hClFa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__unadC {
  display: flex;
  flex-direction: column;
}
.freeBox__unadC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__unadC > :global(.__wab_flex-container) > *,
.freeBox__unadC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__unadC > :global(.__wab_flex-container) > picture > img,
.freeBox__unadC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yiH22 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__pHZd {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pHZd {
    text-align: center;
  }
}
.text__hIbZv {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__garky {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__garky > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__garky > :global(.__wab_flex-container) > *,
.freeBox__garky > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__garky > :global(.__wab_flex-container) > picture > img,
.freeBox__garky
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__garky {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__garky > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__garky > :global(.__wab_flex-container) > *,
  .freeBox__garky > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__garky > :global(.__wab_flex-container) > picture > img,
  .freeBox__garky
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___8VINo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___9RZwq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9HU1K {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dd3WF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gNeM9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__duepN {
  height: auto;
}
.priceCard___5RKxq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2Z5Bj {
  color: var(--token-5PFgtIPcfugrCa);
}
.valueProp___2OsSy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cUx4K {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8Eihh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vgHw2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__p7Yig:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aT0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__riS2O {
  height: auto;
}
.priceCard__lOv7H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__k2Ny4 {
  color: var(--token-iOByk-AWoXpz51);
}
.valueProp__rXcup:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vRZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__jp6Ol:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__usVRn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1GLF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__skdVr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__d5Bv0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bviyf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___5FtVi {
  height: auto;
}
.priceCard__w0K4A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___51KeM {
  color: var(--token-zISyjRbRsu0HUs);
}
.valueProp__vIzDg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t9RoD {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__l50Zh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bXn3R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gQoP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1AKbo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___6YYuw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2I7EP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vfAx7 {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
