.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___3Jz1R {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-af9z3URAOAf2mJ);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___3Jz1R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___3Jz1R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___3Jz1R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___3Jz1R > :global(.__wab_flex-container) > *,
.columns___3Jz1R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___3Jz1R > :global(.__wab_flex-container) > picture > img,
.columns___3Jz1R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jz1R {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jz1R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jz1R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jz1R > :global(.__wab_flex-container) > *,
  .columns___3Jz1R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___3Jz1R > :global(.__wab_flex-container) > picture > img,
  .columns___3Jz1R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__de5Wf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xnOl0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__xnOl0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xnOl0 > :global(.__wab_flex-container) > *,
.freeBox__xnOl0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnOl0 > :global(.__wab_flex-container) > picture > img,
.freeBox__xnOl0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__pNvpr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pNvpr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pNvpr > :global(.__wab_flex-container) > *,
.freeBox__pNvpr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pNvpr > :global(.__wab_flex-container) > picture > img,
.freeBox__pNvpr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ix2Xc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__kGxId {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-mrfwLcQmGDvpoZ);
  background: #ffffff;
  padding: 4px 8px;
}
.text__kYLqI {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-xer6H61WzcLamy);
}
.text___9C1Ku {
  font-size: 20px;
  color: var(--token-mrfwLcQmGDvpoZ);
  line-height: 28px;
}
.freeBox__eLaod {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eLaod > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eLaod > :global(.__wab_flex-container) > *,
.freeBox__eLaod > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eLaod > :global(.__wab_flex-container) > picture > img,
.freeBox__eLaod
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__zmyHm:global(.__wab_instance) {
  position: relative;
}
.svg__rt4Og {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qpZuK {
  height: auto;
}
.svg__ogiim {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jjZ4S:global(.__wab_instance) {
  position: relative;
}
.svg__ykkV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oiri7 {
  height: auto;
  font-weight: 400;
}
.svg___4UulY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___86ExT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__l07Vy {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__l07Vy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l07Vy > :global(.__wab_flex-container) > *,
.freeBox__l07Vy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l07Vy > :global(.__wab_flex-container) > picture > img,
.freeBox__l07Vy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__p7Bjd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__m8Lfp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-xer6H61WzcLamy);
  line-height: 1;
}
.text___7TEbK {
  font-size: 20px;
  color: var(--token-mrfwLcQmGDvpoZ);
  text-align: left;
  line-height: 28px;
}
.freeBox__lmcv6 {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__lmcv6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__lmcv6 > :global(.__wab_flex-container) > *,
.freeBox__lmcv6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lmcv6 > :global(.__wab_flex-container) > picture > img,
.freeBox__lmcv6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lmcv6 {
    max-width: var(--token-af9z3URAOAf2mJ);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lmcv6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lmcv6 > :global(.__wab_flex-container) > *,
  .freeBox__lmcv6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lmcv6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lmcv6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__eUqY2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__eUqY2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__eUqY2 > :global(.__wab_flex-container) > *,
.freeBox__eUqY2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eUqY2 > :global(.__wab_flex-container) > picture > img,
.freeBox__eUqY2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUqY2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUqY2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eUqY2 > :global(.__wab_flex-container) > *,
  .freeBox__eUqY2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eUqY2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__eUqY2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__hNnN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aL8Az {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___7STlH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gSfkd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__fZ6HU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gjAGz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__jKsF9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x3Ngb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__v5G1B {
  height: auto;
}
.freeBox__bqol {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bqol > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__bqol > :global(.__wab_flex-container) > *,
.freeBox__bqol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bqol > :global(.__wab_flex-container) > picture > img,
.freeBox__bqol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bqol {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bqol > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bqol > :global(.__wab_flex-container) > *,
  .freeBox__bqol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bqol > :global(.__wab_flex-container) > picture > img,
  .freeBox__bqol
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__fzvXa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tjerM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__uGeTp {
  height: auto;
}
.valueProp___8QSok:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lw7AV {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__yu9Fv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ymhzw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__e6DEq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uap2X {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__csWiL {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__csWiL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__csWiL > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__csWiL > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__csWiL > :global(.__wab_flex-container) > *,
.columns__csWiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__csWiL > :global(.__wab_flex-container) > picture > img,
.columns__csWiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csWiL {
    max-width: var(--token-af9z3URAOAf2mJ);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csWiL > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csWiL > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__csWiL > :global(.__wab_flex-container) > *,
  .columns__csWiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__csWiL > :global(.__wab_flex-container) > picture > img,
  .columns__csWiL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column___2JcJ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zXdHq {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zXdHq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zXdHq > :global(.__wab_flex-container) > *,
.freeBox__zXdHq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zXdHq > :global(.__wab_flex-container) > picture > img,
.freeBox__zXdHq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__hYw4U {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-7kqPPaauPyg5CN);
}
.h2___9I7Sn {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UymE0FxkFik97q);
  line-height: 1;
}
.text__tiyCp {
  font-size: 20px;
  color: var(--token-H97jP-Tva41aRt);
  line-height: 28px;
  height: auto;
}
.button__xgCnk:global(.__wab_instance) {
  position: relative;
}
.svg__wnrl6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zu31J {
  color: var(--token-0f6IX917WGFLbC);
}
.svg__axbJg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-0f6IX917WGFLbC);
}
.column__ci6IB {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gCw3P {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__yFNc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__yFNc:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__t46Gr {
  color: var(--token-UymE0FxkFik97q);
}
.svg___4JAp9 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-7kqPPaauPyg5CN);
}
.listItem__zZ6KP:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2X5M9 {
  color: var(--token-UymE0FxkFik97q);
}
.svg__revR6 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-7kqPPaauPyg5CN);
}
.listItem___63Bgk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iU4D {
  height: auto;
  color: var(--token-UymE0FxkFik97q);
}
.svg___7EUhg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-7kqPPaauPyg5CN);
}
.listItem__xvdzS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bBhGx {
  height: auto;
  color: var(--token-UymE0FxkFik97q);
}
.svg__g7MD {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-7kqPPaauPyg5CN);
}
.listItem__jJtPi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nuDts {
  height: auto;
  color: var(--token-UymE0FxkFik97q);
}
.svg__iIq6I {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-7kqPPaauPyg5CN);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__jbklV {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__jbklV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jbklV > :global(.__wab_flex-container) > *,
.freeBox__jbklV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbklV > :global(.__wab_flex-container) > picture > img,
.freeBox__jbklV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jbklV {
    max-width: var(--token-af9z3URAOAf2mJ);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jbklV > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jbklV > :global(.__wab_flex-container) > *,
  .freeBox__jbklV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jbklV > :global(.__wab_flex-container) > picture > img,
  .freeBox__jbklV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__qlang {
  display: flex;
  flex-direction: column;
}
.freeBox__qlang > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qlang > :global(.__wab_flex-container) > *,
.freeBox__qlang > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qlang > :global(.__wab_flex-container) > picture > img,
.freeBox__qlang
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__fCf1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___3UVkS {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UymE0FxkFik97q);
  line-height: 1;
}
.text__g4KVh {
  font-size: 20px;
  color: var(--token-H97jP-Tva41aRt);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__tPp89 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__tPp89 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__tPp89 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tPp89 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tPp89 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPp89 {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPp89 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPp89 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPp89 > :global(.__wab_flex-container) > *,
  .columns__tPp89 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tPp89 > :global(.__wab_flex-container) > picture > img,
  .columns__tPp89
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__p16Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__kwsZ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__kwsZ:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__tEu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__u2U2M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__amYa4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hDyIt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__r1AfF {
  height: auto;
}
.column__kjunO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__s997T:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__jek5D:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dVlvB {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__nxEsu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wqr66 {
  height: auto;
}
.svg__yO5H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sJaSf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kxFqZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9Ivog:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__dqXma {
  height: auto;
}
.svg___0Oqd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__lx2In {
  height: auto;
}
.column__q5Eko {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__bJG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__bJG:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__lyDsx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iuPnx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bk0S5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jlVmn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___8PI {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__jsTm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jsTm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jsTm > :global(.__wab_flex-container) > *,
.freeBox__jsTm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jsTm > :global(.__wab_flex-container) > picture > img,
.freeBox__jsTm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jsTm {
    position: relative;
  }
}
.text__r9G4S {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text___8XTr5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-xer6H61WzcLamy);
  line-height: 1;
  height: auto;
}
.svg___602C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___8VFr1 {
  height: auto;
  width: auto;
}
.svg__gnypa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___3UoW {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___3UoW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___3UoW > :global(.__wab_flex-container) > *,
.freeBox___3UoW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3UoW > :global(.__wab_flex-container) > picture > img,
.freeBox___3UoW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UoW {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UoW > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UoW > :global(.__wab_flex-container) > *,
  .freeBox___3UoW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3UoW > :global(.__wab_flex-container) > picture > img,
  .freeBox___3UoW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__iWx2T {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__tOMdV {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-xer6H61WzcLamy);
  line-height: 1;
  height: auto;
}
.svg__kVaw2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vhjPn {
  height: auto;
  width: auto;
}
.svg__xrrsU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__z3DzH:global(.__wab_instance) {
  position: relative;
}
.text__qiUwK {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__c1QNw {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-xer6H61WzcLamy);
  line-height: 1;
  height: auto;
}
.svg__lbl7X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uOauy {
  height: auto;
  width: auto;
}
.svg__dKcUr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__lskOp {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
}
.freeBox__lskOp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__lskOp > :global(.__wab_flex-container) > *,
.freeBox__lskOp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lskOp > :global(.__wab_flex-container) > picture > img,
.freeBox__lskOp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img___9XB8Q {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___9XB8Q > picture > img {
  object-fit: cover;
}
.img___9XB8Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rb7L1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__rb7L1 > picture > img {
  object-fit: cover;
}
.img__rb7L1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xs1Y0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__xs1Y0 > picture > img {
  object-fit: cover;
}
.img__xs1Y0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nNnAi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nNnAi > picture > img {
  object-fit: cover;
}
.img__nNnAi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__we8Pr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__we8Pr > picture > img {
  object-fit: cover;
}
.img__we8Pr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__j2ZNf {
  max-width: var(--token-af9z3URAOAf2mJ);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__j2ZNf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__j2ZNf > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__j2ZNf > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__j2ZNf > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__j2ZNf > :global(.__wab_flex-container) > *,
.columns__j2ZNf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__j2ZNf > :global(.__wab_flex-container) > picture > img,
.columns__j2ZNf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2ZNf {
    max-width: var(--token-af9z3URAOAf2mJ);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2ZNf > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2ZNf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j2ZNf > :global(.__wab_flex-container) > *,
  .columns__j2ZNf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__j2ZNf > :global(.__wab_flex-container) > picture > img,
  .columns__j2ZNf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__msXpE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__vxMeD:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__izlQv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__kDmkO:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__nwSlE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__zG5I:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__jm8C2 {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___4S5P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4S5P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4S5P > :global(.__wab_flex-container) > *,
.freeBox___4S5P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4S5P > :global(.__wab_flex-container) > picture > img,
.freeBox___4S5P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__j6Xd {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-UymE0FxkFik97q);
}
.text___5Lvq {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-UymE0FxkFik97q);
  line-height: 1;
}
.text__maefF {
  font-size: 20px;
  color: var(--token-H97jP-Tva41aRt);
  line-height: 28px;
}
.freeBox__bGaEo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bGaEo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bGaEo > :global(.__wab_flex-container) > *,
.freeBox__bGaEo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bGaEo > :global(.__wab_flex-container) > picture > img,
.freeBox__bGaEo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__ptWMu:global(.__wab_instance) {
  position: relative;
}
.svg__iGcUg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xd2P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oqhVk:global(.__wab_instance) {
  position: relative;
}
.svg__jq87 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__b6IDa {
  height: auto;
  font-weight: 400;
}
.svg__piQyh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
